
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(fon.jpg);
}

/* Хедер */
header {
    color: #000000;
    text-align: center;
}

nav {
    background-color: #a78d8d;
    padding: 14px ;
    
}

nav a {
    color: #000000;
    text-decoration:none;
    padding: 14px ;
}

.navig_rigth{
    float: right;
    position: relative;
    top: -18px;
}
nav a:hover {
    color: black;
    background: #dfe3ae; 
}


.vhodcon {
    height: 350px;
    width: 300px;
    padding: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #929292;
}
.formi {
    margin: 20px 30px 0px 10px;
}
h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}
.formi.f {
    margin: 60px 0px 0px 10px;
} 
.formi label{
    font-size: 18px;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}  
input[type="radio"] {
    margin-left: 10px;
    margin-right: 10px;
}

button {
    font-size: 16px;
    width: 60%;
    padding: 10px;
    margin-left: 60px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background-color: #a78d8d;
    color: #000000;
    cursor: pointer;
}
button a{
    color: #000000;
    text-decoration:none;
}
button:hover {
    background-color: #dfe3ae;
}

footer {
    position: relative;
    top: 1px;
    text-align: center;
}